{{!-- Everypage Boilerplate --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title>Inspirit: Web Inspiration</title>
</head>

<body>
    <header>
        <div id="branding">
            <a class="homelink" href="/">
                <img src="images/it.svg" id="logo" alt-text="logo" />
            </a>
        </div>
        </div>
        <div id="header-wrapper">
            <h1>Inspir.<span>it</span></h1>
            <h2>Your Web, In One Place</h2>
            <form id="itemform" action="" method="post">
                <h3>Create A New It.em</h3>
                <div class="top-text">
                    <input type="text" placeholder="Title" name="titlefield" id="titlefield">
                    <input type="text" placeholder="Link" name="linkfield" id="linkfield">
                </div>
                <div class="categorycolor">
                    <input type="text" list="cats" placeholder="Category" name="categoryfield" id="categoryfield">
                    <datalist id="cats">
                        {{#each categories }}
                            <option value="{{ name }}">
                        {{/each}}
                    </datalist>
                    <input type="color" id="colorpicker" name="colorpicker" value="#7ad1e1" alt-text="Pick A Color">
                </div>
                <textarea placeholder="Describe what makes it dope" id="descriptionfield"></textarea>
                <br>
                <button id="submititem">Submit</button>
                <div class="submit-message"></div>
            </form>
        </div>
        <div id="collapser">
            <button id="moveitin">←</button>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    <script src="js/scripts.js"></script>
</body>

</html>