html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

a {
    text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*---My Styles---*/


body {
    width:100%;
    font-family: 'Work Sans', sans-serif;
    display:flex;
    flex-direction: row;
}

a.homelink {
    display:inline-block;
}

#logo {
    width: 56px;
    height:50px;
    /* display:none; */
}

header {
    background-color:rgb(81, 136, 238);
    width:50vw;
    padding:30px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    position:fixed;
    z-index:10;
    transition: all 300ms ease;
    background-image: linear-gradient(to right top, #05429f, #0059b7, #0071ce, #0089e4, #00a2f9);
}

.nav-open header {
    width:80px;
    justify-content: space-between;
    padding:30px 12px;
    -webkit-box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.2);
}

main {
    margin-left:50vw;
    width:50vw;
    height:100%;
    transition: all 300ms ease;
}

.nav-open main {
    margin-left:80px;
    width:calc(100vw - 80px);
}


h1 {
    color:#f2f2f2;
    font-size:80px;
    font-weight:100;
    letter-spacing: 2px;
}

h1 span {
    font-weight:bold;
}

ul {
    transition: all 300ms ease-in-out;
}

.controls {
    position:absolute;
    top:0;
    left:0;
    z-index:12;
}

li {
    position:relative;
    height:40vh;
    opacity:1;
    transition: all 300ms ease-in-out;
}

.nav-open li {
    width:50%;
    float:left;
}

li:hover {
    opacity:0.7;
}

a.website-wrapper {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color:white;
    position:relative;
}

.text-wrapper {
    position: absolute;
    z-index: 12;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    pointer-events: none;
}

.pointerevents {
    pointer-events: auto;
}

.text-wrapper input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.7);
    font-family: 'Work Sans' !important;
}

.text-wrapper.pointerevents input {
    border:1px solid paleturquoise;
}

.title {
    color:white;
    font-size:32px;
}

.link {
    padding-top:10px;
}

h2 {
    padding-top:15px;
    color:white;
}


#itemform {
    padding-top:40px;
    width:100%;
    max-width: 450px;
}

/* .nav-open #itemform {
    display:none;
} */

h3 {
    color:white;
    font-size:30px;
    padding-bottom:10px;
}

.top-text,
.tagscolor {
    overflow: auto;
    margin-top:10px;
}

#linkfield, #titlefield {
    width:calc(50% - 3px);
}

#tagfield {
    float:left;
    width:calc(100% - 68px);
}

#colorpicker {
    float:left;
}

input[type=text] {
    height:45px;
    padding:10px 15px;
    font-size:18px;
    border:1px solid paleturquoise;
    width:100%;
    background:transparent;
    border-radius:10px;
    color:white;
    font-family: 'Work Sans' !important;
}

::-webkit-input-placeholder { /* Chrome */
    color:  paleturquoise;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:  paleturquoise;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:  paleturquoise;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color:  paleturquoise;
    opacity: 1;
  }

input[type=color] {
    padding: 7px 15px;
    background: none;
    height: 45px;
    width: 63px;
    margin-left:5px;
    border-radius:10px;
    border:1px solid paleturquoise;
    cursor:pointer;
}

textarea {
    border: 1px solid paleturquoise;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background: transparent;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    font-size:18px;
    font-family: 'Work Sans' !important;
}

button#submititem {
    cursor:pointer;
    margin-top:10px;
    padding:10px 20px;
    border-radius:15px;
    outline:none;
    border:2px solid transparent;
    font-size:18px;
    background:lightskyblue;
    color:#00446e;
    font-family: 'Work Sans' !important;
    transition: all 300ms ease;
}

button#submititem:hover {
    background:white;
    border:2px solid white;
}

button#moveitin {
    color: white;
    cursor: pointer;
    background: transparent;
    border: none;
    display: inline-block;
    padding: 10px 0;
    width: 55px;
    font-size: 26px;
    position:absolute;
    bottom:10px;
    left: 12px;
    transform:rotate(0deg);
}

button#moveitin.active {
    transform:rotate(180deg);
}

button.save {
    display:none
}